@import '_variables';
@import '../../views/EventList/_styles';
@import '../../views/Betslip/_styles';
@import '../../components/NavBar/_styles';
@import '../../components/Selection/_styles';
@import '../../components/SideBar/_styles';
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}