.App {
  text-align: center; }

.item-event {
  border: 2px solid #8492A6;
  margin: 15px; }
  .item-event .header {
    border-bottom: 2px solid #676767;
    color: #47525E;
    display: block;
    font-size: 18px;
    padding: 18px 0;
    text-align: center; }
    .item-event .header span {
      margin: 0 10%; }
  .item-event .market {
    border-bottom: 2px solid #676767;
    padding: 15px; }
    .item-event .market:last-child {
      border: none; }
    .item-event .market .title {
      color: #8492A6;
      display: block;
      height: 30px;
      width: 100%; }
      .item-event .market .title span {
        float: left; }

.item-market {
  border-bottom: 2px solid #47525E;
  color: #47525E;
  font-size: 18px;
  margin: 20px 30px;
  padding: 25px 0;
  width: 65%; }
  .item-market button {
    background-color: #47525E;
    color: #fff;
    font-size: 12px;
    padding: 8px 20px; }
  .item-market .selection, .item-market .selections .selection-green, .selections .item-market .selection-green {
    font-size: 25px;
    margin: 25px 0; }

nav {
  border-bottom: 2px solid #69696A;
  box-sizing: border-box;
  display: block;
  height: 65px;
  margin-bottom: 30px;
  padding: 6px 14px;
  width: 100%; }
  nav button {
    background-color: #fff;
    border: 0;
    color: #69696A;
    float: right;
    -webkit-text-stroke: 2px white; }

.selections {
  display: flex;
  justify-content: space-between; }
  .selections .selection, .selections .selection-green {
    border: 1px solid #47525E;
    border-radius: 5px;
    color: #47525E;
    flex: 1 1 auto;
    margin: 0 10px;
    max-width: 30%;
    padding: 5px 10px; }
    .selections .selection span, .selections .selection-green span {
      display: block;
      font-size: 12px;
      margin: 5px 0;
      width: 100%; }
  .selections .selection-green {
    background-color: green; }

.dark-layer, .dark-layer_visible {
  background-color: rgba(132, 146, 166, 0.9);
  height: 100%;
  opacity: 0.01;
  position: fixed;
  transition: all 0.25s ease-out;
  width: 100%;
  z-index: -1; }

.dark-layer_visible {
  opacity: 1;
  z-index: 1001; }

.container, .container_visible {
  background-color: #fff;
  border-color: #7A879B;
  border-style: solid;
  border-width: 0 0 0 2px;
  height: 100vh;
  outline-width: 0 0 0 2px;
  outline-style: solid;
  outline-color: #8492A6;
  position: fixed;
  right: -100%;
  transition: all 0.25s ease-in-out;
  width: 85%; }

.container_visible {
  right: 0; }

.close-menu {
  box-sizing: border-box;
  display: block;
  height: 55px;
  padding: 10px 14px;
  width: 100%; }
  .close-menu .close {
    background-color: #fff;
    border: 0;
    color: #69696A;
    float: right;
    -webkit-text-stroke: 6px white; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif; }
