.selections {
    display: flex;
    justify-content: space-between;
    .selection {
        border: 1px solid $font-black-color;
        border-radius: 5px;
        color: $font-black-color;
        flex: 1 1 auto;
        margin: 0 10px;
        max-width: 30%;
        padding: 5px 10px;
        span {
            display: block;
            font-size: 12px;
            margin: 5px 0;
            width: 100%;
        }
    }
    .selection-green {
        @extend .selection;
        background-color: green;
    }
}