.App {
    text-align: center;
}

.item-event {
    border: 2px solid $outline-color;
    margin: 15px;
    .header {
        border-bottom: 2px solid $black-color;
        color: $font-black-color;
        display: block;
        font-size: 18px;
        padding: 18px 0;
        text-align: center;
        span {
            margin: 0 10%;
        }
    }
    .market {
        border-bottom: 2px solid $black-color;
        padding: 15px;
        &:last-child {
            border: none;
        }
        .title {
            color: $outline-color;
            display: block;
            height: 30px;
            width: 100%;
            span {
                float: left;
            }
        }
    }
}