nav {
    border-bottom: 2px solid $gray-color;
    box-sizing: border-box;
    display: block;
    height: 65px;
    margin-bottom: 30px;
    padding: 6px 14px;
    width: 100%;
    button {
        background-color: #fff;
        border: 0;
        color: $gray-color;
        float: right;
        -webkit-text-stroke: 2px white;
    }
}