.dark-layer {
    background-color: rgba(132, 146, 166, 0.9);
    height: 100%;
    opacity: 0.01;
    position: fixed;
    transition: all 0.25s ease-out;
    width: 100%;
    z-index: -1;
}

.dark-layer_visible {
    @extend .dark-layer;
    opacity: 1;
    z-index: 1001;
}

.container {
    background-color: #fff;
    border-color: $border-color;
    border-style: solid;
    border-width: 0 0 0 2px;
    height: 100vh;
    outline-width: 0 0 0 2px;
    outline-style: solid;
    outline-color: $outline-color;
    position: fixed;
    right: -100%;
    transition: all 0.25s ease-in-out;
    width: 85%;
}

.container_visible {
    @extend .container;
    right: 0;
}

.close-menu {
    box-sizing: border-box;
    display: block;
    height: 55px;
    padding: 10px 14px;
    width: 100%;
    .close {
        background-color: #fff;
        border: 0;
        color: $gray-color;
        float: right;
        -webkit-text-stroke: 6px white;
    }
}