.item-market {
    border-bottom: 2px solid $font-black-color;
    color: $font-black-color;
    font-size: 18px;
    margin: 20px 30px;
    padding: 25px 0;
    width: 65%;
    button {
        background-color: $font-black-color;
        color: #fff;
        font-size: 12px;
        padding: 8px 20px;
    }
    .selection {
        font-size: 25px;
        margin: 25px 0;
    }
}